.gameWrapper {
    box-sizing: margin-box;
    place-content: center;
    width: 40vw;
    display: flex;
    flex-direction: row;
    & * {
        display: revert;
    }
}

.prompt {
    height: 100px;
    width: 500px;
    clip-path: margin-box;
    & > form {
          box-sizing: border-box;
          height: inherit;
          width: inherit;
        resize: vertical;
            & > input {
                text-align: center;
                box-sizing: border-box;
                background-color: darkgray;
                border: gray 10px solid;
                border-radius: 20px 20px 20px 20px;
                color: lightgrey;
                display: block;
                height: 100%;
                width: 100%;
                padding: 10px;
                font-size: 10cqmin;
                outline: none;

                &:focus, &:hover {
                    color: darkslategray;
                    background-color: whitesmoke;
                    border-color: gray;
                 }
              }
      }
}

.chat {
    overflow: scroll;
    box-sizing: border-box;
    background-color: white;
    height: 60vh;
    width: 30vw;
    margin: 10px auto;
    resize: none;
    clip-path: xywh(0px 0px 100% 100% round 20px 20px);
    border-width: 10px 0 0 10px;
    border-color: #e5e5e5;
    border-style: solid;
}

.chatPrompt {
    box-sizing: border-box;
    background-color: white;
    clip-path: xywh(0px 0px 100% 100% round 5px 5px);
    border-width: 7px 0 0 7px;
    border-color: #e5e5e5;
    border-style: solid;
    outline: none;
    margin-right: 5px;
    vertical-align: top;
    height: calc(292px * 0.1);
}
.chatButton {
    background-image: url("../.resources/Enter_Button.jpg");
    background-size: 100% 100%;
    border: none;
    height: calc(292px * 0.1);
    width: calc(542px * 0.1);
    vertical-align: center;

    &:active {
        background-image: url("../.resources/Enter_Button_Pressed.jpg");
    }
}

.vote {
    display: block;
    height: 50px;
    width: 50px;
    margin: 5px;
    border : none;
    border-radius: 0;
    color: white;
    font-family: Courier, sans-serif;
    font-size: 10px;
    clip-path: xywh(0px 0px 100% 100% round 20px 20px);
    &.red {
        border-width: 0 10px 10px 0;
        border-color: lightpink;
        border-style: solid;
        background-color: pink;
        &.selected {
            border-width: 10px 0 0 10px;
            border-color: deeppink;
            background-color: hotpink;
        }
    }

    &.blue {
        border-width: 0 10px 10px 0;
        border-color: powderblue;
        border-style: solid;
        background-color: lightblue;
        &.selected {
            border-width: 10px 0 0 10px;
            border-color: deepskyblue;
            background-color: lightskyblue;
        }
    }
}