.gameWrapper {
    display: flex;
    flex-direction: row;
    & * {
        display: revert;
    }
}

.form {
    height: 100px;
    width: 500px;
    clip-path: margin-box;
    & > form {
          box-sizing: border-box;
          height: inherit;
          width: inherit;
        resize: vertical;
            & > input {
                text-align: center;
                box-sizing: border-box;
                background-color: darkgray;
                border: gray 10px solid;
                border-radius: 20px 20px 20px 20px;
                color: lightgrey;
                display: block;
                height: 100%;
                width: 100%;
                padding: 10px;
                font-size: 10cqmin;
                outline: none;

                &:focus, &:hover {
                    color: darkslategray;
                    background-color: whitesmoke;
                    border-color: gray;
                 }
              }
      }
}