.background1 {
  background-color: aliceblue;
}
.background2 {
  background-color: red;
}

.App-header {
  text-align: center;
  background-image: url("./.resources/bg.png");
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*.block {
  display: block;
  color: black;
  border-radius: 50px;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  background:
          linear-gradient(whitesmoke, whitesmoke) padding-box,
          linear-gradient(to top, yellow, blue) border-box;
  border: 5px solid transparent;
}*/

.block {
  display: block;
  color: black;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  background-color: whitesmoke;
  border-width: 0 10px 10px 0;
  clip-path: xywh(0px 0px 100% 100% round 20px 20px);
  border-color: lightgray;
  border-style: solid;
}

button {
 box-sizing: border-box;
 width: auto;
 padding: 5px;
 background-color : white;
 border: none;
 font-size: 20px;
 clip-path: xywh(0px 0px 100% 100% round 10px 10px);
 border-color: lightgray;
 border-width: 0 5px 5px 0;
 border-style: solid;
 &:active {
  background-color: gray;
  border-width: 5px 0 0 5px;
  border-color: darkgray;
 }
}

input[type=text] {
    box-sizing: border-box;
    background-color: whitesmoke;
    clip-path: xywh(0px 0px 100% 100% round 5px 5px);
    border-width: 7px 0 0 7px;
    border-color: #e5e5e5;
    border-style: solid;
    outline: none;
    vertical-align: top;
    height: calc(292px * 0.1);
}

.inline {
  color: black;
  border-radius: 50px;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  background:
          linear-gradient(whitesmoke, whitesmoke) padding-box,
          linear-gradient(to top, yellow, blue) border-box;
  border: 5px solid transparent;
}
