body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#center {
    background-color: white;
    color: black;
    width: 50vw;
    height: 50vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

textarea#chat {
    background-color: grey;
    height: 50%;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px;
    resize: none;

}
