body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#center {
    color: black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background:
            linear-gradient(whitesmoke 0 0) padding-box, /*this is your grey background*/
            linear-gradient(to top, yellow, blue) border-box;
    border: 5px solid transparent;
}

textarea#chat {
    background-color: grey;
    height: 50%;
    width: 80%;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px;
    resize: none;
}
